.govcms-alerts {
  position: relative;
}
.path-admin .govcms-alerts.layout-container {
  margin: 0;
}
.govcms-alerts article.node--type-alert {
  background: #dc3548;
  border-bottom: 1px solid #000;
  padding: .5em 0;
  color: #fff;
}
.govcms-alerts article.node--type-alert p{
  margin-top: 0;
  max-width: 100%;
}
.govcms-alerts article.node--type-alert a,
.govcms-alerts article.node--type-alert button {
  color: #fff;
}
.govcms-alerts article.node--type-alert.alert-contrast--dark,
.govcms-alerts article.node--type-alert.alert-contrast--dark a,
.govcms-alerts article.node--type-alert.alert-contrast--dark button {
  color: #000;
}
.govcms-alerts article.node--type-alert.alert-contrast--dark :focus {
  outline-color: #000;
}
.govcms-alerts article.node--type-alert.alert-contrast--light,
.govcms-alerts article.node--type-alert.alert-contrast--light a,
.govcms-alerts article.node--type-alert.alert-contrast--light button {
  color: #fff;
}
.govcms-alerts article.node--type-alert.alert-contrast--light :focus {
  outline-color: #fff;
}
.govcms-alerts article.node--type-alert .node__content {
  display: block;
  position: relative;
}
.govcms-alerts article.node--type-alert.alert-icon--none .node__content {
}
.govcms-alerts article.node--type-alert:not(.alert-icon--none) .node__content:before {
  display: block;
  content: ' ';
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0.25em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}
.govcms-alerts article.node--type-alert.alert-icon--exclamation .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff'%3E%3Cpath d='M14.66 12.316l-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002v-5zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.239z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-contrast--dark.alert-icon--exclamation .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000'%3E%3Cpath d='M14.66 12.316l-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002v-5zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.239z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-icon--check .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff'%3E%3Cpath d='M6.464 13.676c-.194.194-.513.194-.707 0l-4.96-4.955c-.194-.193-.194-.513 0-.707l1.405-1.407c.194-.195.512-.195.707 0l2.849 2.848c.194.193.513.193.707 0l6.629-6.626c.195-.194.514-.194.707 0l1.404 1.404c.193.194.193.513 0 .707l-8.741 8.736z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-contrast--dark.alert-icon--check .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000'%3E%3Cpath d='M6.464 13.676c-.194.194-.513.194-.707 0l-4.96-4.955c-.194-.193-.194-.513 0-.707l1.405-1.407c.194-.195.512-.195.707 0l2.849 2.848c.194.193.513.193.707 0l6.629-6.626c.195-.194.514-.194.707 0l1.404 1.404c.193.194.193.513 0 .707l-8.741 8.736z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-icon--information .node__content:before {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='5.22 14.96 1.82 16 2.33 12.82'/%3E%3Cpath class='cls-1' d='M15.5,7.82A7.67,7.67,0,0,1,8,15.64,7.67,7.67,0,0,1,.5,7.82,7.67,7.67,0,0,1,8,0,7.67,7.67,0,0,1,15.5,7.82ZM9.38,2.25a1.51,1.51,0,0,0-.33-.49,1.66,1.66,0,0,0-.49-.32A1.43,1.43,0,0,0,8,1.32a1.32,1.32,0,0,0-.57.12,1.7,1.7,0,0,0-.47.32,1.49,1.49,0,0,0-.32.49,1.45,1.45,0,0,0-.12.59,1.4,1.4,0,0,0,.12.58,1.4,1.4,0,0,0,.32.47,1.54,1.54,0,0,0,.47.33A1.32,1.32,0,0,0,8,4.34a1.43,1.43,0,0,0,.58-.12,1.51,1.51,0,0,0,.49-.33,1.43,1.43,0,0,0,.33-.47,1.4,1.4,0,0,0,.12-.58A1.45,1.45,0,0,0,9.38,2.25Zm-2.62,3v8.65H9.24V5.21Z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-contrast--dark.alert-icon--information .node__content:before {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfont-size:16.68px;fill:%23fff;font-family:Lato-Black, Lato;font-weight:800;%7D%3C/style%3E%3C/defs%3E%3Cellipse cx='8' cy='7.82' rx='7.5' ry='7.82'/%3E%3Cpolyline points='5.22 14.96 1.82 16 2.33 12.82'/%3E%3Ctext class='cls-1' transform='translate(5.86 13.86) scale(0.96 1)'%3Ei%3C/text%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-icon--question .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23fff' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-contrast--dark.alert-icon--question .node__content:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23000' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert .au-cta-link:after,
.govcms-alerts article.node--type-alert.alert-contrast--light .au-cta-link:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fff' d='M128 64l-64 64-16-16 64-64'/%3E%3Cpath fill='%23fff' d='M128 64l-16 16-64-64L64 0'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert.alert-contrast--dark .au-cta-link:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M128 64l-64 64-16-16 64-64'/%3E%3Cpath fill='%23000' d='M128 64l-16 16-64-64L64 0'/%3E%3C/svg%3E");
}
.govcms-alerts article.node--type-alert .node__content .field {
  margin-right: 1.5em;
  margin-left: 0;
}
.govcms-alerts.alerts-with-icons article.node--type-alert .node__content .field {
  margin-left: 2em;
}
.govcms-alerts article.node--type-alert .govcms-alert-link {
  margin-top: 0;
  text-decoration: none;
}
.govcms-alerts article.node--type-alert .au-cta-link {
  text-decoration: none;
}
.govcms-alerts article.node--type-alert .au-cta-link:hover {
  text-decoration: underline;
}
.govcms-alerts article.node--type-alert .au-cta-link:after {
  width: 8px;
  width: .5em;
  height: 8px;
  height: .5em;
}
.govcms-alerts article.node--type-alert .govcms-alert-link a {
  padding-right: 0em;
  text-decoration: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.govcms-alerts article.node--type-alert .govcms-alert-link a:hover {
  text-decoration: underline;
}
.govcms-alerts article.node--type-alert .govcms-alert-message a {
  text-decoration: underline;
}
.govcms-alerts article.node--type-alert .govcms-alert-message a:hover {
  text-decoration: none;
}
.govcms-alerts article.node--type-alert .node__content button.govcms-alert-close {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: .6em;
}
.govcms-alerts article.node--type-alert .node__content button.govcms-alert-close span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  pointer-events: none;
}
.govcms-alerts article.node--type-alert button.govcms-alert-close {
  width: 1.5em;
}
.govcms-alerts article.node--type-alert button.govcms-alert-close:after {
  content: "+";
  display: inline-block;
  font-size: 2em;
  font-weight: normal;
  text-align: right;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  line-height: 1;
}
.govcms-alerts article.node--type-alert .govcms-alert-message time {
  float: left;
  margin-right: .5em;
}

.govcms-alerts article.node--type-alert .govcms-alert-message time:after {
  content: ':';
}
